{% extends "/layouts/layout-sis.html" %}

{% block pageTitle %}
  Search – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Correspondent search results
      </h1>

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{% set filterOptionsHtml %}

  {{ govukInput({
    id: "keywords",
    name: "Correspondent name",
    label: {
      text: "Correspondent name",
      classes: "govuk-label--m"
    }
  }) }}

   {{ govukInput({
    id: "keywords",
    name: "Postcode",
    label: {
      text: "Postcode",
      classes: "govuk-label--m"
    }
  }) }}

  {{ govukInput({
    id: "keywords",
    name: "Customer NINO",
    label: {
      text: "Customer NINO",
      classes: "govuk-label--m"
    }
  }) }}

  {{ govukInput({
    id: "keywords",
    name: "Correspondent type",
    label: {
      text: "Correspondent type",
      classes: "govuk-label--m"
    }
  }) }}

  

  {{ govukCheckboxes({
    idPrefix: "status",
    name: "status",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Status",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "1",
        text: "Active (5)",
        checked: true
      },
      {
        value: "2",
        text: "Inactive (59)"
      }
    ]
  }) }}

{% endset %}


<div class="moj-filter-layout">

  <div class="moj-filter-layout__filter">

    {{ mojFilter({
      heading: {
      text: "Filter"
      },
      selectedFilters: {

      heading: {
        text: "Selected filters"
      },

      clearLink: {
        text: "Clear filters"
      },

      categories: [
        {
          heading: {
            text: "Correspondent name"
          },
          items: [{
            href: "#",
            text: "Jones"
          }]
        },
        {
          heading: {
            text: "Postcode"
          },
          items: [{
            href: "#",
            text: "WG3 3PX"
          }]
        }
      ]
    },
      optionsHtml: filterOptionsHtml
    }) }}

  </div>

  <div class="moj-filter-layout__content">


    <div class="moj-action-bar">
      {{ govukButton({
  text: "Hide filter",
  href: "indexb.html",
  classes: "govuk-button--secondary"
}) }}

  </div>

  <div class="moj-scrollable-pane">
    {{ govukTable({
      firstCellIsHeader: true,
      head: [
        { text: "Correspondent name" },
        { text: "Correspondent type" },
        { text: "Correspondent address" },
        { text: "Customer name" },
        { text: "Status" },
        { text: "Customer NINO" },
        { text: "Amount outstanding" },
        { text: "Partner NI number" },
        { text: "Individual debts" }
      ],
      rows: [
        [
          { text: "Bernardo Jones" },
          { text: "SFCL" },
          { text: "87 Dasia Avenue, Dyfed, Wales, WG3 3PX" },
          { text: "Cristobal McKenzie" },
          { html: ' <strong class="govuk-tag govuk-tag--teal">Active</strong>' },
          { text: "QQ 12 34 56 C" },
          { text: "£1003" },
          { text: "QB 46 67 09 G" },
          { html: '<ul class="govuk-list govuk-list--bullet"><li>£1000 (PIP Disallowed)</li><li>£3 (Benefit Cap Supp Payments)</li></ul>' }

        ],

        [
          { text: "Chandler Jones" },
          { text: "BA" },
          { text: "68 Hermiston Field, Berkshire, Northern Ireland, BC59 8AC" },
          { text: "Laila Wolf" },
          { html: ' <strong class="govuk-tag govuk-tag--grey">Inactive</strong>' },
          { text: "HJ 67 98 23 J" },
          { text: "£625" },
          { text: "QB 46 67 09 G" },
          { html: '<ul class="govuk-list govuk-list--bullet"><li>£625 (PIP Disallowed)</li></ul>' }

        ]
        
      ]
    }) }}
  </div>
</div>
      


  </div>

{% endblock %}