{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype
    </h1>

    <p class="govuk-body">This service is in a <strong class="govuk-tag govuk-tag--blue">pilot</strong> phase, we continue to make iterations to the service.</p>

    <p>UCD Team:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Sophie Friell (Interaction Designer)</li>
      <li>Dani Sharp (Content Designer)</li>
      <li>Michael Lo (User Researcher)</li>
    </ul>

    <h2 class="govuk-heading-m">What we are currently working on</h2>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              New home page
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Build ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--orange">
                    In design
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                Following developments of the DM Archive work we have redesigned the service entry page to make it more scaleable for when additional reports are added later down the line.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Redesigned entry page
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/homepage/index.html">Search for a customer</a>
                  </li>
                  </ul>
                </dd>
                </div>                
               </dl>

      </div>
    </div>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Internal header and footer
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Build ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--blue">
                    In refinement
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                The SIS service currently used the GOV.UK branding that should only be used for external services. We need to switch to the DWP internal header and footer pattern.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  New header and footer
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v2/customer/search/index">Home</a>
                  </li>
                  </ul>
                </dd>
                </div>                
               </dl>

      </div>
    </div>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Improve search and filter options
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-17337" target="_blank">Design ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--pink">
                    In design
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                Following our hypothesis board several critical issues have be linked to limitations around search and filter which are resulting in too many results being returns. Review the exsisting search and filters for customer and correspondant search.
              </div>
               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Option 1
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/customer/search/index.html">Customer search</a>
                  </li>
                  <li>
                    <a href="./v3/correspondant/search/index.html">Correspondent search</a>
                  </li>    
                </ul>
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Option 2
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/customer/search/index-2.html">Customer search</a>
                  </li> 
                  <li>
                    <a href="./v3/correspondant/search/index-2.html">Correspondent search</a>
                  </li>    
                </ul>
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Option 3
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/customer/search/index-3.html">Customer search</a>
                  </li> 
                   <li>
                    <a href="./v3/customer/results/index.html">Customer filters</a>
                  </li>
                  <li>
                    <a href="./v3/correspondant/search/index-2.html">Correspondent search</a>
                  </li>    
                  <li>
                    <a href="./v3/correspondant/results/index.html">Correspondent filters</a>
                  </li>  
                </ul>
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Error message example
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/customer/search/error-message/index.html">Customer balance (2 errors)</a>
                  </li> 
                   <li>
                    <a href="./v3/customer/search/error-message/index-2.html">Customer balance (1 error)</a>
                  </li>
                </ul>
                </dd>
                </div>

                </dl>
                </div>
                </div>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              DM Archive
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-16180" target="_blank">Design ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--pink">
                    In design
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                DM Archive include (not limited to but include) overpayments that have been paid and are over a year old or overpayments that DWP have written off. Agents need to access DM Archive when a NINO or IND has been quoted but the payment is not coming up in the system.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  V8 designs
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v3/dm-archive/homepage/index.html">Home</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/search/index.html">Search</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/results/partial/index.html">Results (Partial)</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/results/full-nino/index.html">Results (Full NINO)</a>
                    <li>
                    <a href="./v3/dm-archive/results/full-nino/transactions/index.html">Transactions</a>
                  </li>
                  <li>
                    <a href="./v3/dm-archive/results/full-nino/diary/index.html">Diary</a>
                  </li>                </ul>
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Research links
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="research-index.html">Index page</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/a.html">Scenario A</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/b.html">Scenario B</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/c.html">Scenario C</a>
                  </li>
                </ul>
                </dd>
                </div>
                
               </dl>

              </div>
              </div>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              SIS terminology
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-17311" target="_blank">Content ticket<span class="govuk-visually-hidden"></span></a>
                <a class="govuk-link" href="#" target="_blank">Build epic<span class="govuk-visually-hidden"></span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--pink">
                    In design
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                 From the working group, we need to ensure the terminology is consistant across SIS and removes DM6 terms to future proof the service.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Updated content
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="v2/customer/search/index.html">Customer search</a>
                  </li>
                  <li>
                    <a href="v2/customer/results/index.html">Customer search results</a>
                  </li>
                  <li>
                    <a href="v2/correspondant/search/index.html">Correspondent search</a>
                  </li>
                  <li>
                    <a href="v2/correspondant/results/index.html">Correspondent search results</a>
                  </li>
                  <li>
                    <a href="v2/dm-archive/search/index.html">DM Archive search</a>
                  </li>
                  <li>
                    <a href="v2/dm-archive/results/partial/index.html">DM Archive customer search results (partial)</a>
                  </li>
                  <li>
                    <a href="v2/dm-archive/results/full-nino/index.html">DM Archive customer search result (full nino)</a>
                  </li>
                  </ul>
                </dd>
                </div>
                
               </dl>

              </div>
         
    </div>


    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Pilot iterations - Download to Excel
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-17146" target="_blank">Design ticket<span class="govuk-visually-hidden"></span></a>
                <a class="govuk-link" href="#" target="_blank">Build ticket<span class="govuk-visually-hidden"></span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--blue">
                    In refinement 
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                 Agents are having too many search results returned to them making finding the correct record more difficult. Agents have reported that they would like Excel within SIS, but this comment has  been linked to filters.  Decision has been made to proceed with download of CSV while working on filtering.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design options
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v1/employer_search/download-to-csv/option1.html">Option 1</a> (selected option)
                  </li>
                  <li>
                    <a href="./v1/employer_search/download-to-csv/option2.html">Option 2</a>
                  </li>
                  <li>
                    <a href="./v1/employer_search/download-to-csv/option3.html">Option 3</a>
                  </li>
                  </ul>
                </dd>
                </div>
                
               </dl>

              </div>
         
    </div>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Employer search filter by router
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-16180" target="_blank">Jira ticket<span class="govuk-visually-hidden"></span></a>
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-17371" target="_blank">Build ticket<span class="govuk-visually-hidden"></span></a>

              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                   <strong class="govuk-tag govuk-tag--blue">
                    In refinement 
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                If presented with many results when searching by employer agents need a way to identify which results are under the DEA router (have debts recovered by DEA). In BOXI there is an icon for this.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design options
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v1/employer_search/option1.html">Option 1</a>
                  </li>
                  <li>
                    <a href="./v1/employer_search/option2.html">Option 2</a> (Selected option)
                  </li>
                  <li>
                    <a href="./v1/employer_search/option3.html">Option 3</a>
                  </li>
                  </ul>
                </dd>
                </div>
                
               </dl>

              </div>
         
    </div>

    


    <p><a href="prototype-history.html">Prototype history</a></p>

  </div>
</div>

{% endblock %}
