{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype
    </h1>

    <p class="govuk-body">This service is in a <strong class="govuk-tag govuk-tag--blue">pilot</strong> phase, we continue to make iterations to the service.</p>

    <p>UCD Team:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Sophie Friell (Interaction Designer)</li>
      <li>Dani Sharp (Content Designer)</li>
      <li>Michael Lo (User Researcher)</li>
    </ul>

    <h2 class="govuk-heading-m">What we are currently working on</h2>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Pilot iterations - Employer search filter by router
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-16180" target="_blank">Jira ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--yellow">
                    Working group
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                If presented with many results when searching by employer agents need a way to identify which results are under the DEA router (have debts recovered by DEA). In BOXI there is an icon for this.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design options
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v1/employer_search/option1.html">Option 1</a>
                  </li>
                  <li>
                    <a href="./v1/employer_search/option2.html">Option 2</a> (Selected option)
                  </li>
                  <li>
                    <a href="./v1/employer_search/option3.html">Option 3</a>
                  </li>
                  </ul>
                </dd>
                </div>
                
               </dl>

              </div>
         
    </div>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              DM Archive
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-16180" target="_blank">Jira ticket<span class="govuk-visually-hidden"></span></a>
              </li>
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--pink">
                    In design
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                DM Archive include (not limited to but include) overpayments that have been paid and are over a year old or overpayments that DWP have written off. Agents need to access DM Archive when a NINO or IND has been quoted but the payment is not coming up in the system.
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  V7 designs
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v1/dm-archive/homepage/index.html">Home</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/search/index.html">Search</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/results/partial/index.html">Results (Partial)</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/results/full-nino/index.html">Results (Full NINO)</a>
                    <li>
                    <a href="./v1/dm-archive/results/full-nino/transactions/index.html">Transactions</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/results/full-nino/diary/index.html">Diary</a>
                  </li>                </ul>
                </dd>
                </div>

                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Research links
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="research-index.html">Index page</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/a.html">Scenario A</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/b.html">Scenario B</a>
                  </li>
                  <li>
                    <a href="./v1/dm-archive/homepage/c.html">Scenario C</a>
                  </li>
                </ul>
                </dd>
                </div>
                
               </dl>

              </div>
              </div>


    <p><a href="prototype-history.html">Prototype history</a></p>

  </div>
</div>

{% endblock %}
