{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype history
    </h1>

    <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Employer search
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-17022" target="_blank">Jira ticket<span class="govuk-visually-hidden"></span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--orange">
                    Cancelled
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                In order to fix a bug we need to amend search results display to include the datasets for up to two current employers and up to two previous employers. Display of second employer in each category should be conditional on there being a value to display. 
              </div>

               <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employer search results
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--spaced">
                  <li>
                    <a href="./v1/employer_search/index1a.html">Version 1a (Full data displayed)</a>
                  </li>
                   <li>
                    <a href="./v1/employer_search/index1b.html">Version 1b (Only 1 current and 1 previous employer)</a>
                  </li>
                  <li>
                    <a href="./v1/employer_search/index2a.html">Version 2a (Previous employer in details)</a>
                  </li>
                  <li>
                    <a href="./v1/employer_search/index2b.html">Version 2b (Only 1 current and 1 previous employer)</a>
                  </li>
                  </ul>
                </dd>
                </div>
                
               </dl>
 
               </div>
              
               
        </div>  

    
               <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              List review
            </h2>
            <ul class="govuk-summary-card__actions">
              <!-- <li class="govuk-summary-card__action">
                <a class="govuk-link" href="https://dwpdigital.atlassian.net/browse/DDSP-15682" target="_blank">Jira ticket<span class="govuk-visually-hidden"></span></a>
              </li> -->
              
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--grey">
                    Parked
                  </strong>
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Description
                </dt>
                <dd class="govuk-summary-list__value govuk-body-s">
                  SIS List work while we wait for prototype issue to resolve.
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondent search
                </dt>
                <dd class="govuk-summary-list__value">
                  <p> <a href="./v1/correspondant_search/index.html">List approach</a></p>
                  <p> <a href="./v1/correspondant_search/v2.html">Card iteration</a></p>
                </dd>
              </div>

              </dl>
            </div>
    </div>

    <p><a href="">Prototype history</a></p>

  </div>
</div>

{% endblock %}
