{% extends "/layouts/layout-sis.html" %}

{% block pageTitle %}
Research links
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Research links
    </h1>

<div class="govuk-grid-row govuk-!-padding-4">

  <h2 class="govuk-heading-m">Scenario A</h2>

  <p>Information available:</p>

  <ul class="govuk-list govuk-list--bullet">

                  <li>
                    Partial NINO: NS 64 38 20
                  </li>

                  <li>
                    Payment amount: £250.00
                  </li>

  </ul>

  <p><a href="/v1/dm-archive/homepage/a" target="_blank">Link to begin search (opens in new tab)</a></p>

  <br>

  <h2 class="govuk-heading-m">Scenario B</h2>

   <p>Information available:</p>

  <ul class="govuk-list govuk-list--bullet">

                  <li>
                    Full NINO: JZ 84 26 19 B
                  </li>

                  <li>
                    Payment amount: £350.00
                  </li>

  </ul>

  <p><a href="/v1/dm-archive/homepage/b" target="_blank">Link to begin search (opens in new tab)</a></p>

  <br>

  <h2 class="govuk-heading-m">Scenario C</h2>

   <p>Information available:</p>

  <ul class="govuk-list govuk-list--bullet">

                  <li>
                    Router account number: 583742961
                  </li>

                  <li>
                    Payment amount: £160.00
                  </li>

  </ul>

  <p><a href="/v1/dm-archive/homepage/c" target="_blank">Link to begin search (opens in new tab)</a></p>

  <br>


</div>

{% endblock %}
